.btn{
  width: 25vh;
  height: 12vh;
  border-radius: 10px;
  background-color: white;
  margin: 1% 1%;
  border: 2px solid black;
}
i{
  margin: 0 2%;
  color: black;
  font-size: 22px;
}

.contenido{
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  height: 100vh;
  padding: 2%;
}

.mensaje{
  background-color: rgb(255, 255, 255,0.6);
  margin: 2% 0;
  padding: 1%;
  border-radius: 10px;
}

.enviar{
  background-color: #70dafa;
}

.cargar{
  background-color: greenyellow;
}