<div class="contenido">
  <h1>Ejercicio 32</h1>
<hr>

<button type="button" class="btn" (click)="ejecutar()">
 
  <i class="fa" [ngClass]=" { 'fa-save': !cargar, 'fa-spin fa-refresh': cargar } "></i>
  <span *ngIf="!cargar">Guardar</span>
  <span *ngIf="cargar">Guardando..</span>
</button>

<button type="button" class="btn" (click)="enviando()">
  <i class="fa" [ngClass]=" { 'fa-duotone fa-paper-plane': !enviar, 'fa-spin fa-refresh': enviar } "></i>
  <span *ngIf="!enviar">Enviar</span>
  <span *ngIf="enviar">Enviando</span>
</button>

<div class="mensaje" [ngClass]="{cargar}">
  <h2>Guardar</h2>
<p > Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi aperiam autem dicta itaque, debitis error tempora minus cum quas est voluptas laborum eaque quisquam! Voluptas laudantium temporibus minima! Fugit, commodi.
Consequuntur doloremque eaque, temporibus nesciunt ullam cum! Deserunt eligendi ab impedit laboriosam fuga saepe, accusantium consectetur itaque. Sapiente, consectetur omnis itaque voluptates, libero ullam officiis earum, accusantium in quae cum?</p>
</div>


<div class="mensaje" [ngClass]="{enviar}">
  <h2>Enviar</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam adipisci, officiis a tenetur dolor illo enim voluptates quis accusamus quidem, id, impedit nostrum corporis eius dignissimos. Magni, autem! Porro, explicabo?
  Rem, praesentium! Dolorem provident quam non nesciunt exercitationem, molestiae nostrum suscipit ad distinctio alias nam assumenda aperiam neque ea dolore saepe placeat, obcaecati tenetur? Harum odit eligendi unde error accusantium!
  Consectetur nemo amet expedita. Magni aut quam, aliquid vel libero doloribus nobis fugiat quas ea aliquam! Tempora odio ipsum incidunt nulla ratione a. Nobis laboriosam fugit modi. Esse, perspiciatis repudiandae.
</p>
</div>
</div>

